// Variables

//Screen sizes
$max-width: 1440px;
$large-width: 1100px;
$medium-width: 780px;
$small-width: 478px;

//Colors
$primary-color: #101828;

$primary-color-80: #10182890;

$light-color: #fff;
$medium-color: rgba(152, 162, 179, 100%);
$dark-color: #000;

$form-color: #667085;

// Background image
$bg-image: url("../assets/images/showcase.png");
